<nz-card nzTitle="Banner" class="custom-card">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
<!--    title-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid title!">
        <input nz-input formControlName="title" id="title" />
      </nz-form-control>
    </nz-form-item>
<!--    description-->
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid description!">
          <input nz-input formControlName="description" id="description" />
        </nz-form-control>
    </nz-form-item>
<!--    upload-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Images</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
<!--        -->
        <nz-upload
          [nzListType]="'picture-card'"
          [nzFileList]="fileList"
          [nzShowUploadList]="{ showPreviewIcon: true, showRemoveIcon: true }"
          [nzBeforeUpload]="beforeUpload"
          [nzPreview]="handlePreview"
        >
          <button nz-button> <nz-icon nzType="upload" nzTheme="outline" /> Upload</button>
        </nz-upload>
<!--        -->
      </nz-form-control>
    </nz-form-item>
<!--    submit-->
    <nz-form-item>
      <nz-form-control [nzSpan]="20" [nzOffset]="6">
        <button nz-button nzType="primary" >Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

