<!--banner-->
<nz-carousel #carouselRef nzAutoPlay [nzEffect]="'fade'" class="custom-carousel">
  @for ( banner of dataBanner; track $index) {
    @for (image of banner.imageUrls; track $index) {
    <div nz-carousel-content class="slide"
         [style.background-image]="'url(' + image + ')'">
      <div class="overlay-text">
        <h3>{{banner.slogan}}</h3>
      </div>
    </div>
    }
  }
  <!-- Nút Prev -->
  <button nz-button nzShape="circle" class="carousel-btn prev-btn" (click)="carouselRef.pre()">
    <i nz-icon nzType="left" nzTheme="outline"></i>
  </button>
  <!-- Nút Next -->
  <button nz-button nzShape="circle" class="carousel-btn next-btn" (click)="carouselRef.next()">
    <i nz-icon nzType="right" nzTheme="outline"></i>
  </button>
</nz-carousel>
<!-- Why Choose Us? -->
<section id="why-choose-us" class="why-choose-us">
  <div class="main">
    <h2 class="main-title">WHY CHOOSE <span class="us">US</span> </h2>
    <p class="subtitle">Prepare for the future project expenses and get everything needed.</p>

    <div nz-row [nzGutter]="[24, 24]" class="card-grid">
      <div
        nz-col
        *ngFor="let card of dataCompanySupport"
        [nzXs]="24"
        [nzSm]="12"
        [nzMd]="8"
      >
        <div class="feature-card">
          <div class="card-icon">
            <nz-icon [nzType]="card.icon" nzTheme="outline" class="custom-icon" />
          </div>
          <h3 class="card-title">{{ card.title }}</h3>
          <div class="underline"></div>
          <p class="card-description">
            {{ card.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About us-->
<section id="about-us" class="about-us">
  <div class="main">
    <h2 class="about-us-title">ABOUT <span class="dot">US</span> </h2>
    <div class="content">
      @for ( data of dataHomeIntro; track $index) {
      <div class="content-title">
        <h4>
          {{data.title}}
        </h4>
        <p>{{data.description}}
        </p>
      </div>
      <div class="content-image">
        <img src="/assets/about-us.jpg" alt="">
      </div>
      }
    </div>
  </div>
</section>
<!-- What we have  -->
<section id="project" class="project">
  <div class="container">
    <div class="content-title">
      <h2>What <br /><span class="dot">We</span> have <span class="dot">.</span></h2>
      <p>
        Phát triển mới các phần mềm dùng cho hệ thống nghiệp vụ, cho sản phẩm,... trong các doanh nghiệp kèm theo xử lý
        như: thêm tính năng, phát triển, bảo trì,...
      </p>
      <a href="#" type="button">
        <span>Xem thêm</span>
        <span class="icon"><nz-icon nzType="arrow-right" nzTheme="outline" class="arrow-right" /></span>
      </a>
    </div>
    @for ( data of dataCompanyService; track $index) {
    <div class="content-card">
      <figure class="card-banner">
        <img [src]="data.image" alt="" />
      </figure>
      <div class="card-title">
        <div class="title">
          <h3>{{data.title }}</h3>
          <p>{{ data.description }}</p>
        </div>
        <div class="feature-list">
          @for ( tag of data.tags; track $index) {
            <span class="feature-item">{{ tag }}</span>
          }
        </div>
      </div>
    </div>
    }
  </div>
</section>
<!--PARTNERS-->
<section class="partners-section">
  <div class="container">
    <h2 class="section-title"> OUR <span class="first-title">PARTNERS</span></h2>
    <p class="section-subtitle">
      Các doanh nghiệp hàng đầu đã và đang tin tưởng hợp tác cùng <strong>DTDI Company Solution</strong>
    </p>
    <div class="partners-logos">
      <div class="logo-card" *ngFor="let partner of dataPartners">
        <img [src]="partner.logo" [alt]="partner.name" />
      </div>
    </div>
  </div>
</section>
<!--Custom contact-->
<section id="contact" class="contact">
  <div class="container">
    <h2 class="title">
      Let’s work <br />
       <span class="dot">together</span>
    </h2>
    <div class="contact-wrapper">
      <!-- Form -->
      <div class="contact-content">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" >
          <div class="form">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'Please input your name!'">
                <input nz-input formControlName="name" placeholder="Your name*" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'Please input a valid email!'">
                <input nz-input formControlName="email" placeholder="Email address*" type="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'Please input a valid status!'">
                <nz-select id="status" formControlName="status"  nzPlaceHolder="Select status" >
                  <nz-option nzValue="NEW" nzLabel="New"></nz-option>
                  <nz-option nzValue="CLOSED" nzLabel="Closed"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'Please input a valid phone number!'">
                <input nz-input formControlName="phone" placeholder="Phone number" />
              </nz-form-control>
            </nz-form-item>
            <div class="message">
              <nz-form-item>
                <nz-form-control [nzErrorTip]="'Please enter your message!'">
                  <textarea nz-input formControlName="message" rows="6" placeholder="Your Message *"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="form-item button-submit">
              <button nz-button nzType="primary" class="submit-btn" type="submit">
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Google Map -->
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.742481331918!2d105.7730625747203!3d21.043681887099875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab40803e385b%3A0x71a293c26c84b2b0!2sTHE%20NINE%20TOWER!5e0!3m2!1svi!2s!4v1713423150000!5m2!1svi!2s"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
