<nz-layout>
  <nz-header>
    <div class="navbar">
      <div class="navbar-container">
        <!-- Logo -->
        <div class="navbar-logo">
          <a href="#">DTDI <strong>Solutions</strong></a>
        </div>

        <!-- Hamburger Menu (for small screens) -->
        <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
          <nz-icon nzType="menu" nzTheme="outline"></nz-icon>
        </button>

        <!-- Navigation Links (Sidebar on Small Screens) -->
        <nav class="navbar-menu" [class.active]="isMenuOpen">
          <ul>
            @for (item of menuList; track item.href) {
              <li>
                <a [routerLink]="item.href" [ngClass]="item.class">{{ item.title }}</a>
              </li>
            }
          </ul>
        </nav>

        <!-- Language Switcher -->
        <div class="navbar-language">
          <a nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="false" class="lang-btn">
            {{ selectedLang }}
            <span><nz-icon nzType="down" class="dropdown-icon" /></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="selectedLang = 'en'">en</li>
              <li nz-menu-item (click)="selectedLang = 'vi'">vi</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
