<div>
  <div class="flex justify-end mb-2">
    <button nz-button (click)="goToAdd()">Add banners</button>
  </div>
  <nz-table nzBordered [nzData]="bannerOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzEllipsis nzWidth="15%">Slogan</th>
        <th nzEllipsis nzWidth="40%">Image</th>
        <th nzWidth="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of bannerOfData; track data) {
        <tr>
          @if (!editCache[data.id].edit) {
            <td nzEllipsis>{{ data.slogan }}</td>
            <td nzEllipsis nzWidth="30%">
              <span class="ellipsis-text">{{ data.imageUrls }}</span>
            </td>
            <td>
              <button nz-button nzType="primary" (click)="startEdit(data.id)"><nz-icon nzType="edit" /></button>
              <button nz-button nzType="primary" nzDanger (click)="deleteNew(data.id)">
                <nz-icon nzType="delete" />
              </button>
            </td>
          } @else {
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.slogan" /></td>
            <td><textarea nz-input rows="10" [(ngModel)]="editCache[data.id].data.imageUrls"></textarea></td>
            <td>
              <button nz-button nzType="primary" (click)="updateBanner(data.id)" class="save">Save</button
              ><button
              nz-popconfirm
              nz-button
              nzType="dashed"
              nzDanger
              nzPopconfirmTitle="Sure to cancel?"
              (nzOnConfirm)="cancelEdit(data.id)"
            >
              Cancel
            </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </nz-table>
</div>
