<section class="news-detail"  *ngIf="newsDetail">
  <div class="breadcrumb-header">
    <div class="breadcrumb">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="'/'">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="'/news-page'">Tin Tức</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <b>
            {{newsDetail.title}}
          </b>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="content">
    <div class="title-header">
      <h1>
       {{newsDetail.title}}
      </h1>
    </div>
    <div class="detail-info">
      <div class="detail-info-left">
        <div class="meta-box">
          <span>Tin tức</span>
          <span>|</span>
          <span>2025-05-08 10:14:49</span>
        </div>
        <div class="info-text">
          <p>
            {{newsDetail.content}}
          </p>
        </div>
      </div>
      <div class="news-detail-right">
        <div class="new-title-right">
          BÀI VIẾT LIÊN QUAN
        </div>
        <div class="cards-right">
          <div class="card-item-right">
            <img src="https://vhsgroup.vn/uploads/project/430x290-680f43bfef5a2.jpg" alt="">
            <div class="card-info">
             <h3>THE MATRIX ONE PREMIUM</h3>
              <p>Ngã tư Lê Quang Đạo – Mễ Trì, quận Nam Từ Liêm, Hà Nội</p>
              <a href="">Xem thêm</a>
            </div>
          </div>
          <div class="card-item-right">
            <img src="https://vhsgroup.vn/uploads/project/430x290-680f43bfef5a2.jpg" alt="">
            <div class="card-info">
             <h3>THE MATRIX ONE PREMIUM</h3>
              <p>Ngã tư Lê Quang Đạo – Mễ Trì, quận Nam Từ Liêm, Hà Nội</p>
              <a href="">Xem thêm</a>
            </div>
          </div>
          <div class="card-item-right">
            <img src="https://vhsgroup.vn/uploads/project/430x290-680f43bfef5a2.jpg" alt="">
            <div class="card-info">
              <h3>THE MATRIX ONE PREMIUM</h3>
              <p>Ngã tư Lê Quang Đạo – Mễ Trì, quận Nam Từ Liêm, Hà Nội</p>
              <a href="">Xem thêm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
