<div>
  <h1>Company Detail</h1>
  <form nz-form [formGroup]="detailForm" (ngSubmit)="onSubmitDetail()">
    <!-- title -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="title" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input title!">
        <input nz-input id="title" formControlName="title" placeholder="Please enter title" />
      </nz-form-control>
    </nz-form-item>
    <!-- address  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Content</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="Please enter your company address!">
        <nz-textarea-count [nzMaxCharacterCount]="1000">
          <textarea
            nz-input
            rows="2"
            formControlName="description"
            placeholder="Please enter your company address"
          ></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>
    <!-- submit -->
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="detailForm.invalid">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <h1>Company Information</h1>
  <form nz-form [formGroup]="infoForm" (ngSubmit)="onSubmitInfo()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Site Name</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input site name">
        <input nz-input formControlName="siteName" placeholder="Website name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Logo</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please upload an icon">
        <input nz-input formControlName="icon" placeholder="Enter logo url" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input site description">
        <textarea nz-input formControlName="siteDescription" placeholder="Enter description"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid email">
        <input nz-input formControlName="contactEmail" placeholder="Enter company email" />
      </nz-form-control>
    </nz-form-item>
    <!--    year-->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Year</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid year">
        <input nz-input formControlName="year" placeholder="Enter company year" />
      </nz-form-control>
    </nz-form-item>
    <!--    -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Phone</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid phone number">
        <input nz-input formControlName="contactPhone" placeholder="Enter phone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Address</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input contact address">
        <input nz-input formControlName="contactAddress" placeholder="Enter company address" />
      </nz-form-control>
    </nz-form-item>
    <!--    director-->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Director</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid director">
        <input nz-input formControlName="director" placeholder="Enter company director" />
      </nz-form-control>
    </nz-form-item>
    <!--  Working Hours  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Working Hours</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input working hours">
        <input nz-input formControlName="workingHours" placeholder="Working hours" />
      </nz-form-control>
    </nz-form-item>

    <!--  Map Embed URL  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Map Embed URL</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input map embed URL">
        <input nz-input formControlName="mapUrl" placeholder="Enter Map Url" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="infoForm.invalid">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
