<section class="news-page">
  <div class="container">
    <h3>Khám Phá Blog & Tin Tức</h3>

    <div class="news-cards">
      @for (news of dataNews; track $index) {
        <div class="news-card">
          <img [src]="news.image" alt="News Image" />
          <div class="news-card-content">
            <h4>{{ news.title }}</h4>
            <p>{{ news.description }}</p>
            <a href="#" class="read-more">Xem thêm</a>
          </div>
        </div>
      }
    </div>
  </div>
</section>
