<div>
  <div class="flex justify-end mb-2">
    <button nz-button (click)="goToAdd()">Add news</button>
  </div>
  <nz-table nzBordered [nzData]="newOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Title</th>
        <th >Description</th>
        <th>Image</th>
        <th>Content</th>
        <th nzWidth="6%">Order</th>
        <th nzWidth="14%">Created Date</th>
        <th nzWidth="14%">Modified Date</th>
        <th nzWidth="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of newOfData; track data) {
        <tr>
          @if (!editCache[data.id].edit) {
            <td nzEllipsis>{{ data.title }}</td>
            <td nzEllipsis>{{ data.description }}</td>
            <td nzEllipsis>{{ data.image }}</td>
            <td nzEllipsis>{{ data.content}}</td>
            <td>{{ data.orderIndex }}</td>
            <td nzEllipsis>{{ data.createdDate }}</td>
            <td nzEllipsis>{{ data.modifiedDate }}</td>
            <td>
              <button nz-button nzType="primary" (click)="startEdit(data.id)"><nz-icon nzType="edit" /></button>
              <button nz-button nzType="primary" nzDanger (click)="deleteNew(data.id)">
                <nz-icon nzType="delete" />
              </button>
            </td>
          } @else {
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.title" /></td>
            <td><textarea nz-input rows="10" [(ngModel)]="editCache[data.id].data.description"></textarea></td>
            <td><textarea nz-input rows="10" [(ngModel)]="editCache[data.id].data.image"></textarea></td>
            <td><textarea nz-input rows="10" [(ngModel)]="editCache[data.id].data.content"></textarea></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.orderIndex" /></td>
            <td>{{ data.createdDate }}</td>
            <td>{{ data.modifiedDate }}</td>
            <td>
              <button nz-button nzType="primary" (click)="updateNew(data.id)" class="save">Save</button
              ><button
                nz-popconfirm
                nz-button
                nzType="dashed"
                nzDanger
                nzPopconfirmTitle="Sure to cancel?"
                (nzOnConfirm)="cancelEdit(data.id)"
              >
                Cancel
              </button>
            </td>
          }
        </tr>
      }
    </tbody>
  </nz-table>
</div>
