<!--breadcrumb-->
<nz-card class="breadcrumb">
  <app-breadcrumb current="Member"></app-breadcrumb>
</nz-card>
<!--main-->
<nz-card style="width:100%;"  [nzExtra]="extraTemplate">
  <!--body card-->
</nz-card>
<!--add item-->
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="openModal()">
    <nz-icon nzType="plus" />
    Thêm mới
  </button>
  <app-modal-button
    [(isVisible)]="modalVisible"
    [title]="'Member Form'"
    [okText]="'Thêm mới'"
    [cancelText]="'Hủy bỏ'"
    [width]="800"
    (ok)="onOk()"
    (cancel)="onCancel()"
  >
  </app-modal-button>
</ng-template>

