
.contact-section {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.section-title {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    font-size: 30px;
    color: #f59e0b;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    color: #475569;
    font-size: 16px;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-item {
  display: flex;
  flex-direction: column;

  input[nz-input],
  textarea[nz-input] {
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    padding: 10px;
    font-size: 14px;
  }

  textarea[nz-input] {
    resize: none;
  }
}

.full-width {
  grid-column: span 2;
}

.checkbox-row {
  margin-top: 10px;
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #475569;
  }
}
.form-item{
  button{
    width: 100%;
    background-color: #6366f1;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #4f46e5;
    }
  }
}

.form-item {
  display: flex;
  flex-direction: column;

  input[nz-input],
  textarea[nz-input],
  nz-select {
    background-color: #f9f9f9;
    border-radius: 6px;
    border:none;
    outline: none !important;
    padding: 10px;
    font-size: 14px;
  }

  nz-select {

    display: flex;
    align-items: center;
    height: 40px; /* đảm bảo cùng chiều cao với input */
  }

  textarea[nz-input] {
    resize: none;
  }
}

/* Chỉnh sửa bên trong nz-select */
::ng-deep .ant-select-selector {
  background-color: #f9f9f9 !important;
  border-radius: 6px !important;
  border: none !important;
  outline: none !important;
  padding: 5px 10px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
}
