<section class="contact-page" id="contact-page">
  <div class="banner-contact">
    <div class="banner-title">
      <h1>LIÊN HỆ</h1>
    </div>
  </div>
</section>
<section class="contact-section">
  <div class="container">
    <div class="section-title">
      <h2>Contact Us</h2>
      <p>We would love to hear from you. Please fill out the form below.</p>
    </div>
    <div class="contact-content">
      <form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-form>
        <div class="form">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'Please input your name!'">
              <input nz-input formControlName="name" placeholder="Your name*" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'Please input a valid email!'">
              <input nz-input formControlName="email" placeholder="Email address*" type="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'Please input a valid status!'">
              <nz-select id="status" formControlName="status"  nzPlaceHolder="Select status*" >
                <nz-option nzValue="NEW" nzLabel="New"></nz-option>
                <nz-option nzValue="CLOSED" nzLabel="Closed"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'Please input a valid phone number!'">
              <input nz-input formControlName="phone" placeholder="Phone number*" />
            </nz-form-control>
          </nz-form-item>
          <div class="message">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'Please enter your message!'">
                <textarea nz-input formControlName="message" rows="6" placeholder="Your Message *"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="button-submit">
            <button nz-button nzType="primary" class="submit-btn" type="submit">
              Send Message
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</section>
