<section class="service-page" id="service-page">
  <div class="banner-service">
    <div class="banner-title">
      <h1>DỊCH VỤ</h1>
    </div>
  </div>
  <div class="service-featured">
    <div class="service-featured-title">
      <h2>Feature Service</h2>
      <h1>A wide range of waste disposal services</h1>
    </div>

    <div class="cards-grid">
      <div class="cards">
        @for (service of dataFeatureService; track $index) {
          <div class="card-item">
            <div class="icon">
              <img [src]="service.image" alt="{{ service.title }}"  />
            </div>
            <h4 class="title">{{ service.title }}</h4>
            <p class="desc">{{ service.description }}</p>
          </div>
        }
      </div>
    </div>
  </div>
</section>
