<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="" target="_blank">
<!--        <img [src]="" alt="avatar" />-->
        <h1>{{userName}}</h1>
      </a>
      <button
        nzType="link"
        style="color: white;"
        nz-tooltip
        (click)="logout()"
        nzTooltipTitle="Đăng xuất"
      >
        <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
      </button>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
<!--      <li nz-submenu nzOpen nzTitle="Company" nzIcon="unordered-list">-->
<!--        <ul>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a [routerLink]="['company', 'info']">Info</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a [routerLink]="['company', 'customer']">Customer</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['employee']">Employee</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['banner']">Banner</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['company-support']">Company Support</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['home-about-us']">Home About Us</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['company-service']">Company Service</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['partners']">Partners</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['customer-contact']">Customer Contact</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['about-intro']">About Intro</a>
      </li>
      <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['company-experience']">Company Experience</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['company-manager']">Company Manager</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['news']">News</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['feature-service']">Feature Service</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['project']">Project</a>
      </li>



    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span
          class="header-trigger"
          (click)="isCollapsed = !isCollapsed"
          (keydown.enter)="isCollapsed = !isCollapsed"
          tabindex="0"
        >
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        <app-breadcrumb-component></app-breadcrumb-component>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
