<section id="news" class="news">
  <div class="container">
    <div class="content-title">
      <div class="title">
        <h3>Dịch vụ <span class="dot">.</span></h3>
      </div>
      <div class="text">
        <h3>Chúng tôi giải quyết các khía cạnh của Dịch vụ CNTT chuyên nghiệp</h3>
      </div>
    </div>

    <div class="content">
      <div class="content-list">
        <h3>Dịch vụ tư vấn xây dựng hệ thống CNTT</h3>
        <div class="content-text">
          <p>
            Chúng tôi thực hiện phát triển mới các phần mềm dùng cho hệ thống nghiệp vụ,
            cho sản phẩm,... trong các doanh nghiệp kèm theo xử lý như: thêm tính năng,
            phát triển, bảo trì,...
          </p>
          <div class="feature-list">
            <span class="list-item">Web System</span>
            <span class="list-item">Smartphone System</span>
            <span class="list-item">Windows App</span>
            <span class="list-item">Phát triển Salesforce</span>
            <span class="list-item">Phát triển SAP</span>
            <span class="list-item">Phát triển Odoo</span>
          </div>
        </div>

      </div>
      <div class="content-list">
        <h3>Dịch vụ tư vấn xây dựng hệ thống CNTT</h3>
        <div class="content-text">
          <p>
            Chúng tôi thực hiện phát triển mới các phần mềm dùng cho hệ thống nghiệp vụ,
            cho sản phẩm,... trong các doanh nghiệp kèm theo xử lý như: thêm tính năng,
            phát triển, bảo trì,...
          </p>
          <div class="feature-list">
            <span class="list-item">Web System</span>
            <span class="list-item">Smartphone System</span>
            <span class="list-item">Windows App</span>
            <span class="list-item">Phát triển Salesforce</span>
            <span class="list-item">Phát triển SAP</span>
            <span class="list-item">Phát triển Odoo</span>
          </div>
        </div>

      </div>
      <div class="content-list item-finally">
        <h3>Dịch vụ tư vấn xây dựng hệ thống CNTT</h3>
        <div class="content-text">
          <p>
            Chúng tôi thực hiện phát triển mới các phần mềm dùng cho hệ thống nghiệp vụ,
            cho sản phẩm,... trong các doanh nghiệp kèm theo xử lý như: thêm tính năng,
            phát triển, bảo trì,...
          </p>
          <div class="feature-list">
            <span class="list-item">Web System</span>
            <span class="list-item">Smartphone System</span>
            <span class="list-item">Windows App</span>
            <span class="list-item">Phát triển Salesforce</span>
            <span class="list-item">Phát triển SAP</span>
            <span class="list-item">Phát triển Odoo</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

