<div>
  <nz-card nzTitle="Banner" class="custom-card">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <!-- Title -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="slogan">Slogan</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'The input is not valid slogan!'">
          <input nz-input formControlName="slogan" id="slogan" />
        </nz-form-control>
      </nz-form-item>

      <!-- Upload Image -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Upload Images</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-upload
            [nzBeforeUpload]="beforeUpload"
            [(nzFileList)]="fileList"
            [nzShowUploadList]="{ showPreviewIcon: true, showRemoveIcon: true }"
            [nzMultiple]="true"
            [nzListType]="'picture-card'"
            (nzChange)="onChange($event)"
          >
            <div>
              <i nz-icon nzType="plus"></i>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <!-- Submit button -->
      <nz-form-item>
        <nz-form-control [nzSpan]="20" [nzOffset]="6">
          <button nz-button nzType="primary" >Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
