<nz-card nzTitle="Company Detail" class="custom-card">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- title -->
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzFor="title" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="18"  nzErrorTip="Please input title!">
        <input nz-input id="title" formControlName="title" placeholder="Please enter title" />
      </nz-form-control>
    </nz-form-item>
    <!-- address  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="9" nzRequired>Content</nz-form-label>
      <nz-form-control [nzSpan]="18" nzHasFeedback nzErrorTip="Please enter your company address!">
        <nz-textarea-count [nzMaxCharacterCount]="1000">
          <textarea
            nz-input
            rows="2"
            formControlName="description"
            placeholder="Please enter your company address"
          ></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>
    <!-- submit -->
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="12" [nzOffset]="5" class="px-33">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
