<nz-card nzTitle="Employee Manager" class="custom-card">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- Name -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Username</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="username" placeholder="Please enter your username" />
        <ng-template #userErrorTpl let-control>
          @if (control.errors?.['required']) {
            Please input your username!
          }
          @if (control.errors?.['duplicated']) {
            The username is redundant!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" placeholder="E-mail" type="email" />
        <ng-template #emailErrorTpl let-control>
          @if (control.errors?.['email']) {
            The input is not valid E-mail!
          }
          @if (control.errors?.['required']) {
            Please input your E-mail!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Password -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
        <input nz-input type="password" formControlName="password" placeholder="Please enter your username" />
      </nz-form-control>
    </nz-form-item>
    <!-- Confirm -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input type="password" placeholder="Confirm your password" />
        <ng-template #passwordErrorTpl let-control>
          @if (control.errors?.['required']) {
            Please confirm your password!
          }
          @if (control.errors?.['confirm']) {
            Password is inconsistent!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- EM-CODE -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>CODE</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback >
        <input
          nz-input
          type="number"
          formControlName="emCode"
          min="100000"
          max="999999"
          placeholder="Enter 6-digit EM-CODE"
        />
      </nz-form-control>
    </nz-form-item>
    <!-- ROLE -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="role" nzRequired>Role</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please select your role!">
        <nz-select id="role" formControlName="role" nzPlaceHolder="Select a option and change input text above">
          <nz-option nzValue="ADMIN" nzLabel="ADMIN"></nz-option>
          <nz-option nzValue="EDITOR" nzLabel="EDITOR"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- Button -->
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="10">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
