<nz-card nzTitle="Employee Manager" class="custom-card">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- Name -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Username</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="username" placeholder="Please enter your username" />
        <ng-template #userErrorTpl let-control>
          @if (control.errors?.['required']) {
            Please input your username!
          }
          @if (control.errors?.['duplicated']) {
            The username is redundant!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" placeholder="E-mail" type="email" />
        <ng-template #emailErrorTpl let-control>
          @if (control.errors?.['email']) {
            The input is not valid email!
          }
          @if (control.errors?.['required']) {
            Please input your email!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Password -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
        <input nz-input type="password" formControlName="password" placeholder="Please enter your username" />
      </nz-form-control>
    </nz-form-item>
    <!-- EM-CODE -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>CODE</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback  nzErrorTip="Please input your code!"  >
        <input
          nz-input
          type="number"
          formControlName="emCode"
          min="100000"
          max="999999"
          placeholder="Enter 6-digit EM-CODE"
        />
      </nz-form-control>
    </nz-form-item>
    <!-- Button -->
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="10">
        <button nz-button nzType="primary">Submit</button>

      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
