<nz-card nzTitle="News">
  <form nz-form [formGroup]="serviceForm" (ngSubmit)="submitForm()">
    <!--  Title  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback nzErrorTip="Please input your title!">
        <input nz-input formControlName="title" placeholder="Enter your title" />
      </nz-form-control>
    </nz-form-item>
    <!--  Content  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="description" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback nzErrorTip="Description is't valid">
        <textarea nz-input id="description" formControlName="description" placeholder="Enter your description" rows="4"></textarea>
      </nz-form-control>
    </nz-form-item>
    <!--  Image  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzFor="image" nzRequired>Image</nz-form-label>
      <nz-form-control [nzSpan]="10" nzHasFeedback nzErrorTip="image isn't valid">
        <input nz-input id="image" formControlName="image" placeholder="Enter image URL" />
      </nz-form-control>
    </nz-form-item>
    <!--    button-->
    <nz-form-item>
      <nz-form-control [nzSpan]="10" [nzOffset]="4" class="px-37">
        <button nz-button nzType="primary" [disabled]="serviceForm.invalid">Lưu</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
