<section id="about" class="about-us">
  <div class="container">
    <div class="content-title">
      <div class="title">
        <h3>
          Who <br />
          We Are <span class="question-mark">?</span>
        </h3>
      </div>
      <div class="text">
        <h3>Là người đồng hành trên con đường đổi mới và phát triển của khách hàng</h3>
        <p>
          Trong bối cảnh xã với hội rất nhiều lĩnh vực, doanh nghiệp thay đổi không ngừng từng ngày từng giờ thì việc
          ứng dụng nhanh chóng công nghệ tiên tiến trở nên vô cùng cấp bách trong công cuộc tăng sức cạnh tranh cũng như
          tối ưu hiệu suất. DTDI COMPANYS chúng tôi là một tổ chức đặc biệt được sinh ra với mục đích giúp quý khách
          hàng sử dụng triệt để những công nghệ tiên tiến ấy.
        </p>
      </div>
    </div>
    <div class="us-image">
      <img src="/assets/about-us.jpg" alt="" />
    </div>
    <div class="company-profile">
      <div class="header-wrapper">
        <h2 class="h2 item-title">Thông tin công ty</h2>
      </div>
      <ul class="profile-list">
        <li class="profile-item">
          <p class="profile-category">Tên công ty</p>
          CÔNG TY CỔ PHẦN CÔNG NGHỆ DTDI
        </li>
        <li class="profile-item">
          <p class="profile-category">Địa chỉ</p>
          Tầng 12, tòa nhà Viwaseen Tower, 48 Tố Hữu, Phường Trung Văn, Quận Nam Từ Liêm, Thành phố Hà Nội.
        </li>
        <li class="profile-item">
          <p class="profile-category">Thành lập</p>
          Tháng 3 năm 2022
        </li>
        <li class="profile-item">
          <p class="profile-category">Nhân sự</p>
          <ul class="business-list">
            <li>Nhân viên công ty: 98 người</li>
            <li>Nhân viên từ công ty đối tác trong liên minh: trên 200 người</li>

            ※Tính tại thời điểm tháng 12 năm 2024
          </ul>
        </li>
        <li class="profile-item">
          <p class="profile-category">Vốn điều lệ</p>
          12,000,000,000 VND
        </li>
        <li class="profile-item">
          <p class="profile-category">Địa chỉ liên lạc</p>
        </li>

        <li class="profile-item">
          <p class="profile-category">Người đại diện</p>
          Chủ tịch HĐQT <br />
          Tổng giám đốc
        </li>
        <li class="profile-item">
          <p class="profile-category">Dịch vụ</p>
          <ul class="business-list">
            Chúng tôi cung cấp các dịch vụ phát triển hệ thống phần mềm doanh nghiệp dưới đây:
            <li>・Dịch vụ tư vấn, cung cấp giải pháp &amp; dịch vụ chuyển đổi số hệ thống phần mềm doanh nghiệp</li>
            <li>・Dịch vụ thiết kế hệ thống phát triển hệ thống, phát triển offshore</li>
            <li>・Dịch vụ bảo trì, quản lý vận hành hệ thống phần mềm doanh nghiệp</li>
            <li>・Dịch vụ điều tra, phân tích, hỗ trợ xử lý các vấn đề kỹ thuật</li>
            <li>・Dịch vụ thiết kế, phát triển dịch vụ điện toán đám mây, chuyển đổi hệ thống lên điện toán đám mây</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
