<section id="about" class="about-us">
  <div class="container">
    <div class="content-title">
      <div class="title">
        <h3>
          Who <br />
          We Are <span class="question-mark">?</span>
        </h3>
      </div>
      <div class="text">
        @for (index of dataCompanyDetail; track index) {
        <h3>{{index.title}}</h3>
        <p>
       {{index.description}}
        </p>
        }
      </div>
    </div>
    <div class="us-image">
      <img src="/assets/about-us.jpg" alt="" />
    </div>
    <div class="company-profile">


      <div class="header-wrapper">
        <h2 class="h2 item-title">Thông tin công ty</h2>
      </div>
      <ul class="profile-list">
        @for (index of dataCompanyInfo; track index) {
        <li class="profile-item">
          <p class="profile-category">Tên công ty</p>
          {{index.siteName}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Địa chỉ</p>
          {{index.contactAddress}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Thành lập</p>
          {{index.year}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Email</p>
          {{index.contactEmail}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Số điện thoại</p>
          {{index.contactPhone}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Giám đốc</p>
          {{index.director}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Giờ làm việc</p>
          {{index.workingHours}}
        </li>
        <li class="profile-item">
          <p class="profile-category">Dịch vụ</p>
          <ul class="business-list">
            Chúng tôi cung cấp các dịch vụ phát triển hệ thống phần mềm doanh nghiệp dưới đây:
            <li>・Dịch vụ tư vấn, cung cấp giải pháp &amp; dịch vụ chuyển đổi số hệ thống phần mềm doanh nghiệp</li>
            <li>・Dịch vụ thiết kế hệ thống phát triển hệ thống, phát triển offshore</li>
          </ul>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
