.about-us {
  padding: 60px 100px;
  .container {
    width: 1200px;
    margin: 0 auto;
    .content-title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 0;
      .title {
        h3 {
          font-size: 60px;
          color: black;
          line-height: 1.1;
          font-weight: bold;
          .question-mark {
            color: #f4a460;
          }
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
          line-height: 1.7;
          font-weight: 400;
        }
      }
    }
    .us-image {
      padding: 20px 0 50px 0px;
    }
    .company-profile {
      .header-wrapper {
        .item-title {
          font-size: 3rem;
          font-weight: bold;
        }
      }
      .profile-list {
        line-height: 1.3;
        border: 1px solid #f4a460;
        padding:0 20px;
        .profile-item {
          border-bottom: 1px solid #e8e6e6;
          margin-block: 10px;
          display: grid;
          grid-template-columns: 1fr 5fr;
          .business-list{
            line-height: 1.8;
          }
        }
      }
    }
  }
}
